@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: tan;
    justify-content: space-between;
    display: flex;
    padding: 10px 20px; 
    width: auto;
}

.header h1{
    cursor: pointer;
    background-color: #78350F;
}


 .navbar a{
        
        color:#78350F;
        font-weight: 300;
        margin-left: 10px;
    }

    .navbar a:hover {
        color: blue;
    }

    .navbar a.active {
        text-decoration: underline; /* Underlines text for active/clicked link */
    }
    
.section{
        min-height: 100vh;
        padding:10rem 9% 2rem;
    }

/* CSS styles for the card layout */
.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 40px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-content {
    flex: 1;
    padding: 20px;
}

.card-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f9f9f9;
}

.card-image img {
    max-width: 100%; 
    height: auto;
    display: block;
}

.left h1 {
    color: #717171;
    margin-top: 20px;
    margin-bottom: 40px;
}

.left p{
    margin-bottom: 40px ;
}

.learn-more-button{
    background-color: #78350F;
    color:#FFFFFF;
    border: 1px solid #78350F;
    padding: 10px 20px; 
    border-radius: 8px;
    width: 164px;
    margin-left: 100px;
    height: 52px;
}

