@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: tan;
    justify-content: space-between;
    display: flex;
    padding: 10px 20px; 
    width: auto;
}

.header h1{
    cursor: pointer;
}


 .navbar a{
        
        color:#717171;
        font-weight: 300;
        margin-left: 10px;
        
        
    }

.section{
        min-height: 100vh;
        padding:10rem 9% 2rem;
    }

